In [1]:
sliced <- read.csv("data/sliced_specimens.csv")
head(sliced)

  X total_barcodes trnL_barcodes ITIS_Family       BRU_Family     genus
1 1 0              0             Apodanthaceae     Rafflesiaceae  Pilostyles
2 2 0              0             Diervillaceae     Caprifoliaceae Diervilla
3 3 0              0             Linnaeaceae       Caprifoliaceae Linnaea
4 4 0              0             Loxsomataceae     Loxsomataceae  Loxsoma
5 5 2              0             Didymochlaenaceae Aspidiaceae    Didymochlaena
6 6 2              0             Lindsaeaceae      Lindsaeaceae   Lindsaea
  scientificName         year country                  stateProvince
1 Pilostyles thurberi      NA United States of America Arizona
2 Diervilla lonicera     2020 United States of America Rhode Island
3 Linnaea borealis       2016 United States of America Maine
4 Loxsoma cunninghamii     NA New Zealand
5 Didymochlaena lunulata 1898 Colombia
6 Lindsaea ensifolia     1880 Bangladesh
  occurrenceID
1 faede748-398a-4cb2-b7b0-645dcd0f8440
2 cb2d6756-819e-4632-a0fc-c340cb429ee7
3 d464605c-4eb6-4e3a-a21f-ba42ef310704
4 69670938-58df-42fc-9f75-61bec2bbdc03
5 b92639ca-bf03-43dc-8114-7683b924ce0b
6 6cd3d6f7-c73e-43b0-9387-364ea1b5e2b2

In [16]:
library(tidyverse)

kartz_data <- read.csv("data/Kartzinel_et_al_Dataset_S2_20250129.csv")
kartz_data %>% mutate(BOLD.Specimen.Count = ifelse(BOLD.Specimen.Count == NA, 0, BOLD.Specimen.Count)) %>% 
arrange(desc(BOLD.Specimen.Count))

# kartz_data$ITIS.Family.Name

    ITIS.Family.Name    ITIS.Species.Count BOLD.Specimen.Count
1   Poaceae             5061               NA
2   Euphorbiaceae       3372               NA
3   Gesneriaceae        3304               NA
4   Asteraceae          3038               NA
5   Fabaceae            2647               NA
6   Lejeuneaceae        1984               NA
7   Cactaceae           1516               NA
8   Solanaceae          1286               NA
9   Rosaceae            1121               NA
10  Cyperaceae          1115               NA
11  Brassicaceae         832               NA
12  Cyatheaceae          743               NA
13  Lepidoziaceae        704               NA
14  Plagiochilaceae      683               NA
15  Xanthorrhoeaceae     658               NA
16  Lamiaceae            618               NA
17  Frullaniaceae        595               NA
18  Plantaginaceae       518               NA
19  Polygonaceae         507               NA
20  Apocynaceae          505               NA
21  Malvaceae            505               NA
22  Myrtaceae            497               NA
23  Orchidaceae          459               NA
24  Apiaceae             420               NA
25  Lophocoleaceae       413               NA
26  Caryophyllaceae      395               NA
27  Rubiaceae            381               NA
28  Ranunculaceae        367               NA
29  Amaranthaceae        363               NA
30  Boraginaceae         356               NA
... ...                 ...                ...
701 Tapisciaceae        1                  NA
702 Tecophilaeaceae     1                  NA
703 Tetracarpaeaceae    1                  NA
704 Tetrachondraceae    1                  NA
705 Tetramelaceae       1                  NA
706 Tetrameristaceae    1                  NA
707 Thismiaceae         1                  NA
708 Thomandersiaceae    1                  NA
709 Thurniaceae         1                  NA
710 Thyrsopteridaceae   1                  NA
711 Ticodendraceae      1                  NA
712 Torricelliaceae     1                  NA
713 Tovariaceae         1                  NA
714 Trachylomataceae    1                  NA
715 Trichotemnomataceae 1                  NA
716 Trigoniaceae        1                  NA
717 Trimeniaceae        1                  NA
718 Triuridaceae        1                  NA
719 Trochodendraceae    1                  NA
720 Turneraceae         1                  NA
721 Vahliaceae          1                  NA
722 Velloziaceae        1                  NA
723 Viridivelleraceae   1                  NA
724 Vivianiaceae        1                  NA
725 Vochysiaceae        1                  NA
726 Wellstediaceae      1                  NA
727 Welwitschiaceae     1                  NA
728 Winteraceae         1                  NA
729 Xeronemataceae      1                  NA
730 Ximeniaceae         1                  NA
    BOLD.Species.Count BOLD.rbcL.Specimen.Count BOLD.matK.Specimen.Count
1   4289               8435                     8561
2   1879               2205                     1837
3   1048                138                      407
4   6552               6062                     6964
5   7294               8388                     9426
6    447                413                        0
7    976                692                     1745
8    971               1340                     1541
9   1890               3656                     4168
10  1938               2887                     3704
11  1197               1553                     1591
12   137                200                       14
13   106                143                        3
14   210                175                        2
15   124                119                      115
16  2030               2527                     2233
17   152                200                        1
18   768                868                     1058
19   683               1201                     1119
20  1414               1734                     1777
21  1147               2061                     1996
22  1324                675                     1298
23  6454               4128                     7518
24   960               1002                     1033
25    43                 54                        1
26  1101               1107                     1477
27  2995               3914                     2560
28  1168                970                     1423
29   664                723                      619
30  1065                767                      814
... ...                ...                      ...
701  2                  4                        5
702 24                 43                       34
703  1                  1                        2
704  3                  2                        2
705  2                 10                        5
706  4                  8                        5
707 NA                 NA                       NA
708  3                  3                        3
709  4                  5                        0
710 NA                 NA                       NA
711  1                  2                        2
712  5                  4                        5
713  1                  2                        2
714 NA                 NA                       NA
715  1                  2                        0
716  7                 10                        6
717  1                  2                        2
718  5                  1                        0
719  2                 22                       24
720 NA                 NA                       NA
721  1                  4                        3
722 14                 28                       16
723 NA                 NA                       NA
724  5                  2                        0
725 17                 32                       18
726 NA                 NA                       NA
727  1                  7                        6
728 25                 23                       72
729  1                  4                        2
730 NA                 NA                       NA
    BOLD.trnL.Specimen.Count BOLD.ITS.Specimen.Count ENA.trnL.P6.Species.Count
1   573                      5515                    2381
2    33                      2000                     622
3     0                      1269                     523
4   248                      7696                    3125
5   421                      7004                    2863
6     0                       572                     230
7     3                       126                     360
8    59                      1160                     859
9    20                      2238                     976
10  117                      1919                     750
11   43                      2013                    1290
12    0                         7                     343
13    0                         8                      14
14    0                       362                       8
15    2                        85                      NA
16   99                      2210                    1430
17    3                       592                     124
18   67                      1120                     509
19   53                       894                     208
20   50                       853                    1257
21  173                      1475                     111
22    0                      1197                      98
23   46                      4778                    1961
24    5                      1271                     240
25    0                        24                      45
26   16                      1499                     297
27   62                      2768                    1935
28   25                      1412                     364
29   39                       896                     217
30   41                      1319                     393
... ...                      ...                     ...
701  0                        2                       2
702  0                        1                       4
703  0                        0                      NA
704  0                        0                       2
705  0                        1                       2
706  0                        2                       2
707 NA                       NA                      NA
708  0                        0                       1
709  0                        0                       1
710 NA                       NA                       1
711  0                        1                       1
712  0                        0                       3
713  0                        0                       1
714 NA                       NA                       2
715  0                        0                       1
716  1                        1                      NA
717  0                        0                      NA
718  0                        5                      NA
719  0                       23                       2
720 NA                       NA                      NA
721  3                        0                       1
722  0                        4                      23
723 NA                       NA                      NA
724  0                        8                      NA
725  0                        5                      13
726 NA                       NA                      NA
727  0                        0                       1
728  0                       19                      18
729  0                        0                      NA
730 NA                       NA                       2
    ENA.trnL.P6.Specimen.Count
1   5298
2    948
3    742
4   4873
5   5080
6    463
7    550
8   1371
9   1571
10  1109
11  3738
12   641
13    16
14     9
15    NA
16  2193
17   173
18   688
19   411
20  1666
21   204
22   440
23  2916
24   375
25    73
26   831
27  3160
28   859
29   354
30   707
... ...
701  3
702  4
703 NA
704  2
705  2
706  2
707 NA
708  1
709  1
710  1
711  3
712  4
713  3
714  3
715  1
716 NA
717 NA
718 NA
719  4
720 NA
721  1
722 24
723 NA
724 NA
725 20
726 NA
727  3
728 67
729 NA
730  4

In [11]:
?ifelse

ifelse                  package:base                   R Documentation

_C_o_n_d_i_t_i_o_n_a_l _E_l_e_m_e_n_t _S_e_l_e_c_t_i_o_n

_D_e_s_c_r_i_p_t_i_o_n:

     'ifelse' returns a value with the same shape as 'test' which is
     filled with elements selected from either 'yes' or 'no' depending
     on whether the element of 'test' is 'TRUE' or 'FALSE'.

_U_s_a_g_e:

     ifelse(test, yes, no)

_A_r_g_u_m_e_n_t_s:

    test: an object which can be coerced to logical mode.

     yes: return values for true elements of 'test'.

      no: return values for false elements of 'test'.

_D_e_t_a_i_l_s:

     If 'yes' or 'no' are too short, their elements are recycled.
     'yes' will be evaluated if and only if any element of 'test' is
     true, and analogously for 'no'.

     Missing values in 'test' give missing values in the result.

_V_a_l_u_e:

     A vector of the same length and attributes (including dimensions
     and '"class"') as 'test' and data values from the values of 'yes'
     or 'no'.  The mode of the answer will be coerced from logical to
     accommodate first any values taken from 'yes' and then any values
     taken from 'no'.

_W_a_r_n_i_n_g:

     The mode of the result may depend on the value of 'test' (see the
     examples), and the class attribute (see 'oldClass') of the result
     is taken from 'test' and may be inappropriate for the values
     selected from 'yes' and 'no'.

     Sometimes it is better to use a construction such as

       (tmp <- yes; tmp[!test] <- no[!test]; tmp)

     , possibly extended to handle missing values in 'test'.

     Further note that 'if(test) yes else no' is much more efficient
     and often much preferable to 'ifelse(test, yes, no)' whenever
     'test' is a simple true/false result, i.e., when 'length(test) ==
     1'.

     The 'srcref' attribute of functions is handled specially: if
     'test' is a simple true result and 'yes' evaluates to a function
     with 'srcref' attribute, 'ifelse' returns 'yes' including its
     attribute (the same applies to a false 'test' and 'no' argument).
     This functionality is only for backwards compatibility, the form
     'if(test) yes else no' should be used whenever 'yes' and 'no' are
     functions.

_R_e_f_e_r_e_n_c_e_s:

     Becker, R. A., Chambers, J. M. and Wilks, A. R. (1988) _The New S
     Language_.  Wadsworth & Brooks/Cole.

_S_e_e _A_l_s_o:

     'if'.

_E_x_a_m_p_l_e_s:

     x <- c(6:-4)
     sqrt(x)  #- gives warning
     sqrt(ifelse(x >= 0, x, NA))  # no warning

     ## Note: the following also gives the warning !
     ifelse(x >= 0, sqrt(x), NA)


     ## ifelse() strips attributes
     ## This is important when working with Dates and factors
     x <- seq(as.Date("2000-02-29"), as.Date("2004-10-04"), by = "1 month")
     ## has many "yyyy-mm-29", but a few "yyyy-03-01" in the non-leap years
     y <- ifelse(as.POSIXlt(x)$mday == 29, x, NA)
     head(y) # not what you expected ... ==> need restore the class attribute:
     class(y) <- class(x)
     y
     ## This is a (not atypical) case where it is better *not* to use ifelse(),
     ## but rather the more efficient and still clear:
     y2 <- x
     y2[as.POSIXlt(x)$mday != 29] <- NA
     ## which gives the same as ifelse()+class() hack:
     stopifnot(identical(y2, y))


     ## example of different return modes (and 'test' alone determining length):
     yes <- 1:3
     no  <- pi^(1:4)
     utils::str( ifelse(NA,    yes, no) ) # logical, length 1
     utils::str( ifelse(TRUE,  yes, no) ) # integer, length 1
     utils::str( ifelse(FALSE, yes, no) ) # double,  length 1